[defaults]
roles_path = ./roles
collections_paths = ./collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto
callback_result_format = yaml
ask_vault_pass = True

[ssh_connection]
pipelining = True
ssh_args = -o StrictHostKeyChecking=accept-new

[privilege_escalation]
become = True
become_method = sudo
