{
    email {{ caddy_admin_email }}

    # Admin API enabled (required for reload)
    admin unix//var/run/caddy.sock
}

# Shared snippets (no site blocks here)
import snippets/*.caddy

# Sites enabled configs
import sites-enabled/*.caddy
