{
{% if caddy_admin_email | default('') | trim | length > 0 %}
    email {{ caddy_admin_email }}
{% endif %}
    admin unix//var/run/caddy.sock
}

import snippets/*.caddy
import sites-enabled/*.caddy
